@font-face {
    font-family: 'the-amazing-spider-man';
    src: url('./src/fonts/the-amazing-spider-man.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('./src/images/wallpaperflare.com_wallpaper.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    height: 100vh;
    width: 100vw;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.logo {
    position: relative;
    margin-bottom: 20px;
}

img#spider-logo {
    width: 50vw;
    max-width: 200px;
    height: auto;
    position: absolute;
    z-index: 1;
    top: -30px;
    left: 20px;
}

img#spider-gif {
    width: 90vw;
    max-width: 600px;
}

h1, h2, h3 {
    font-family: 'the-amazing-spider-man';
    color: #ff8800;
    text-align: center;
    text-shadow:
        2px 2px 4px #000000,
        -2px -2px 4px #000000,
        2px -2px 4px #000000,
        -2px 2px 4px #000000;
}

label {
    min-width: 300px;
    font-size: 2em;
    margin-bottom: 10px;
    color: #ff8800;
    text-shadow: 
        1px 1px 2px #000000,
        -1px -1px 2px #000000,
        1px -1px 2px #000000,
        -1px 1px 2px #000000;
}

h1 {
    font-size: 7vh;
}

h2 {
    font-size: 4vh;
    margin-top: 10px;
}

a img {
    margin-top: 30px;
    width: 10vw;
    max-width: 70px;
    height: auto;
    transition: transform 0.3s ease;
}

a img:hover {
    transform: scale(1.1);
}

input[type="text"] {
    padding: 10px;
    font-size: 2.5vh;
    border: 2px solid #ff8800;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 60vw;
    max-width: 300px;
    text-align: center;
}

button {
    width: 20vw;
    height: 5vh;
    min-width: 200px;
    font-size: 2vh;
    color: #fff;
    background-color: #ff8800;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e67600;
}

button:active {
    background-color: #cc6600;
}

.usuario {
    width: 20vw;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.usuario img#user-icon {
    width: 8vw;
    min-width: 150px;
    height: auto;
    min-height: 150px;
    margin-bottom: 10px;
    border-radius: 50%;
    cursor: pointer;
}

#players-list {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    max-width: 80vw;
    justify-content: center;
    max-height: 80vh;
    overflow: auto;
}

#players-list .player {
    display: flex;
    width: 7vw;
    flex-direction: column;
    align-items: center;
    min-width: 100px;
    max-width: 150px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

#players-list img {
    width: 5vw;
    min-width: 80px;
    height: auto;
    border-radius: 50%;
}

#players-list p {
    font-size: 2vh;
    color: #fff;
    text-shadow: 
        1px 1px 2px #000000,
        -1px -1px 2px #000000,
        1px -1px 2px #000000,
        -1px 1px 2px #000000;
}